*{
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.previsao{
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    color: white;
}
.capitais{
    text-align: center;
    font-size: 160%;
    margin-right: 20%;
    color: white;
}
.caixa-pesquisa{
    background-color: #eee;
    width: 330px;
    height: 50px;
    border-radius: 50px;
    display: flex; 
    align-items: center;
    justify-self: space-between;
    padding: 0px 25px;
}
input{
  width: 240px;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;  
}
.fa-solid:hover{
    color: orangered;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: row;
    height: auto;
}
.minmax{
    font-size: 75%;
    padding-left: 36%;
    font-weight: normal;
    word-spacing: 8px;
}
.temperaturaE{
    width: auto;
    padding-left: 1%;
    font-weight: bold;
    word-spacing: 3px;

}
.capitalE{
    width: auto;
    padding-left: 1%;
    font-weight: bold;
    word-spacing: 1px;
}
.temperaturaD{
    width: auto;
    padding-left: 5%;
    font-weight: bold;
    word-spacing: 3px;
}
.capitalD{
    width: auto;
    padding-left: 1%;
    font-weight: bold;
    word-spacing: 1px;
}
.texto{
    color: white;
    font-size: 5rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    position: center;
    padding: 2rem 1rem;
}
body{
    background: linear-gradient(#FF7F00, rgb(255, 204, 0));
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

main{
}