*{
    font-family: Arial, sans-serif;
}
.previsao{
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    color: white;
}
.capitais{
    text-align: center;
    font-size: 160%;
    margin-right: 20%;
    color: white;
}
.form-procura{
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 10px;
}
.procura-cidade{
    border-radius: 2px 0 0 2px;
    padding: 10px;
    width: 33%;
    font-size: 30px;
    text-align: center;    
}
.btn-procura{
    border-radius: 0 2px 2px 0;
    margin-left: -5px;
    padding: 5px 0;
    width: 2%;
    font-size: 30px;
}
.container{
    display: flex;
    /* justify-content: space-between; */
    width: 20%;
    height: auto;
    padding-left: 35%;
}
.minmax{
    flex: 1;
    font-size: 75%;
    padding-left: 530px;
    font-weight: normal;
    word-spacing: 8px;
    border: 1px solid green;
}
.temperatura{
    flex: 2;
    width: 5px;
    flex-direction: wrap;
    font-weight: bold;
    word-spacing: 3px;
    border: 1px solid green;
}
.capitalE{
    flex: 3;
    font-weight: bold;
    word-spacing: 1px;
    border: 1px solid green;
}
body{
    background: linear-gradient(#FF7F00, orange);
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

main{
}