*{
    font-family: Arial, sans-serif;
}
.previsao{
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    color: white;
}
.capitais{
    text-align: center;
    font-size: 160%;
    margin-right: 20%;
    color: white;
}
.form-procura{
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 10px;
}
.procura-cidade{
    border-radius: 2px 0 0 2px;
    padding: 10px;
    width: 33%;
    font-size: 30px;
    text-align: center;    
}
.btn-procura{
    border-radius: 0 2px 2px 0;
    margin-left: -5px;
    padding: 5px 0;
    width: 2%;
    font-size: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    padding-left: 35%;
    height: auto;
}
.minmax{
    font-size: 75%;
    padding-left: 35.5%;
    font-weight: normal;
    word-spacing: 8px;
}
.temperaturaE{
    width: auto;
    padding-left: 1%;
    font-weight: bold;
    word-spacing: 3px;
}
.capitalE{
    width: auto;
    padding-left: 1%;
    font-weight: bold;
    word-spacing: 1px;
}
.temperaturaD{
    width: auto;
    padding-left: 5%;
    font-weight: bold;
    word-spacing: 3px;
}
.capitalD{
    width: auto;
    padding-left: 1%;
    font-weight: bold;
    word-spacing: 1px;
}
body{
    background: linear-gradient(#FF7F00, rgb(255, 204, 0));
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

main{
}